<aside id="bg-menu">
    <div id="nav-container" class="center">
        <div id="Logo">
            <h1>Agenda</h1>
        </div>
        <nav id="menu-container">
            <ul id="menu-nav">
                <li><a href="#">Link</a></li>
            </ul>
        </nav>
    </div>
</aside>
