<aside id="bg-menu">
    <div id="nav-container" class="center">
        <div id="logo">
            <h1><a href="/">Agenda</a></h1>
        </div>
        <nav id="menu-container">
            <ul id="menu-nav">
                <% if (!user) {%> 
                    <li><i class="ri-user-line"></i><a href="http://localhost:3000/register/index">Cadastrar</a></li>
                    <li><i class="ri-login-box-line"></i><a href="http://localhost:3000/login/index">Logar</a></li>
                <% } else {%>
                    <li><a href="http://localhost:3000/add/index">Editar</a></li>
                    <li><i class="ri-user-line"></i><a href="http://localhost:3000/login/logout">Sair</a></li>
                <% }%>
            </ul>
        </nav>
    </div>
</aside>
