<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <title>project-CRUD</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Sou a página renderizada</h1>
        <form action="/" method="post">
            <span>Ciente:</span>
            <input type="text" name="user">
            <button type="submit">Enviar</button>
        </form>
        <script type="text/javascript" src="../../public/bundle.js"></script>
    </body>
</html>
