<%- include('./includes/head'); %>
    <section id="register">
        <div id="sign-in-container" class="center">
            <div id="sign-in-content">
                <article>
                    <img src="/assets/monstro.png"> 
                    <h1>Welcome Back !</h1>
                    <p class="p-1">Conecte-se com sua conta e</p>
                    <p class="p-2">Modifique sua agenda como quiser</p>
                    <a href="http://localhost:3000/login/index">Conectar-se</a>
                </article>
            </div>
            <div id="sign-in-main">
                <form action="/login/register" method="POST" id="sign-up-container">
                    <h1>Criar conta</h1>
                    <input type="email" placeholder="Email"/>
                    <input type="password" placeholder="Password"/>
                    <button type="submit">Registrar-se</button>
                </form>
                <a href="#">Já possui uma conta ?</a>
            </div>
        </div>
    </section>
<%- include('./includes/footer'); %>
